@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

.subject-topic {
  width: 135px;
  height: 135px;
  padding: 16px;
  border: 2px solid #decbf6;
  background-color: #f8f8ff;
  text-align: center;
  font-size: 16px;
  font-weight: lighter;
  letter-spacing: 0;
  line-height: 1;
  font-family: 'Open Sans', sans-serif;
  border-radius: 20px;
  transition: transform 0.2s;
}
.subject-link {
  margin: 15px 8px;
  text-decoration: none;
  color: #403e43;
}

.subject-icon {
  margin: 12px;
  font-size: 30px;
}

//tablet
@media screen and (min-width: 767px) {
}
// desktop
@media screen and (min-width: 1200px) {
  .subject-topic:hover {
    transform: scale(1.1);
    box-shadow: 10px 5px #e0e0e0;
    font-weight: bold;
  }
}
