.loading-animation {
  background-color: #c7a8f0;
  width: 35px;
  height: 35px;
  animation: roll 1.3s infinite;
  position: absolute;
  left: 0;
  right: 0;
  top: 44%;
  margin: auto;
  transform: translateY(-20%);
}

@keyframes roll {
  0% {
    transform: scale(0.5) rotate(0);
  }
  50% {
    border-radius: 25%;
  }
  100% {
    transform: scale(2) rotate(360deg);
    border-radius: 50%;
  }
}
// tablet
@media screen and (min-width: 767px) {
  .loading-animation {
    width: 40px;
    height: 40px;
  }
}
// desktop
@media screen and (min-width: 1200px) {
  .loading-animation {
    width: 70px;
    height: 70px;
  }
}
