@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

h1 {
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1.5;
}

p {
  letter-spacing: 0.5px;
  line-height: 1.5;
}

h1,
p,
span,
a {
  font-family: 'Open Sans', sans-serif;
}
